table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 30px auto;
  background-color: #33783a;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.user__register {
  background-color: green !important;
  border: 5px solid red;
}
.icon__table {
  width: 20px;
  cursor: pointer;
}
