* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100vh;

  background-color: darkgreen;
  background-image: url("https://t4.ftcdn.net/jpg/03/25/38/41/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100%;
}
