.gridP {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.gridC1 {
  background-color: yellow;

  grid-column: 1/3;
  grid-row: 1/3;
}
.gridC2 {
  background-color: blue;
  grid-row: 1/3;
}
.gridC3 {
  background-color: green;
  grid-column: 1;
  grid-row: 2/4;
  margin-top: -50px;
}
.gridC4 {
  background-color: rgb(190, 44, 100);
  grid-column: 2/4;
}

body {
}
