.text__home {
  color: rgb(255, 255, 255);
  align-self: center;
}

.wrapper {
  background-color: green;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.cards__home {
  display: flex;
}
.cards {
  display: flex;
}

.buttons__home > button {
  padding: 20px, 10px;
  margin: 20px;
  border-radius: 50px;
  background-color: rgb(137, 74, 74);
  padding: 10px;
  color: aliceblue;
  cursor: pointer;
}

.buttons__home {
  position: absolute;
  bottom: 20px;
}

.buttons__home > button:hover {
  padding: 20px, 10px;
  margin: 20px;
  border-radius: 50px;
  background-color: whitesmoke;
  padding: 10px;
  color: rgb(137, 74, 74);
  cursor: pointer;
}

.hidden {
  display: none;
}
.box {
  width: 100%;
  height: 100vh;
  background-color: rgb(38, 133, 47);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;

  animation-name: fade-in-top;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.number {
  padding-left: 10px;
  margin: 0;
}
.sign {
  padding: 0px 35px;
  padding-bottom: 20px;
  font-size: larger;
}

.cards {
  background-color: whitesmoke;
  border: 4px solid black;
  border-radius: 10px;
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
}
.wrapper__Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card__value {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: 200%;
  font-weight: 800;
}

.card__sign {
  font-size: 500%;
}
@media only screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    margin-top: 2px;
  }
}
