/* .wrapper_home {
  width: 100%;
  height: 100vh;
  background-color: green;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
}
.box {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.8;
}
.hidden {
  display: none;
}

.text__home {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}


*/

.wrapper {
  background-color: green;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.cards__home {
  display: flex;
}
.cards {
  display: flex;
}

.card {
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 5px 35px;
  margin-left: 10px;

  animation-name: fade-in-top;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.buttons__home {
  position: absolute;
  bottom: 5%;
}
.buttons__home > button {
  padding: 20px, 10px;
  margin: 20px;
  border-radius: 50px;
  background-color: rgb(137, 74, 74);
  padding: 10px;
  color: aliceblue;
  cursor: pointer;
}

.buttons__home > button:hover {
  padding: 20px, 10px;
  margin: 20px;
  border-radius: 50px;
  background-color: whitesmoke;
  padding: 10px;
  color: rgb(137, 74, 74);
  cursor: pointer;
}

.hidden {
  display: none;
}
.box {
  width: 100%;
  height: 100vh;
  background-color: rgb(38, 133, 47);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
